{% extends 'base.html' %} {% load static %} {% block content %}

<div class="d-flex flex-wrap px-5 pt-3 align-items-center">
  <div class="col-12 col-md-6">
    <h1>Welcome to TutorMediaBD</h1>
    <p>
      Tutoring is private academic support, usually provided by an expert teacher; someone with deep knowledge or defined expertise in a particular subject or set of subjects.
      A tutor, formally also called an academic tutor, is a person who provides assistance or tutelage to one or more people on certain subject areas or skills. The tutor spends a few hours on a daily, weekly, or monthly basis to transfer their expertise on the topic or skill to the student (also called a tutee). Tutoring can take place in different settings.
    </p>
  </div>
  <div class="col-12 col-md-6">
    <img src="{% static 'tutor1.png' %}" class="img-fluid" alt="Responsive image" style="width-50%">
  </div>
</div>


<div class="row p-4">
    <div class="col-12 col-lg-2 col-sm-4 bg-white p-3" >
      <h5>All Classes Tuition</h5>
      {% for cat in categories %}
      <div class="form-check">
        <input class="form-check-input"type="radio"name="categories"id="{{cat.id}}">
        <label class="form-check-label" for="{{cat.subject}}"> 
          <a href="{% url 'tuition_wise_category' cat.slug %}" class="text-decoration-none" >{{cat.classes}}</a> </label>
      </div>
      {% endfor %}
    </div>
    <div class="col-12 col-lg-10 col-sm-8 p-3">
      <h4 class="text-bg-primary">{{data | length}} results found</h4>
      <div class="row pt-5">
        {% for d in data %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 ">
          <div class="card  m-2">
            <div class="card-body ">
              <img class="card-img-top w-100 h-100" src="{{ d.image.url }}" alt="Card image cap">
                <h5 class="card-title">Subject : {{d.subject_name}}</h5>
                <p><b>Salary :</b> {{d.salary}}</p>
                {% if d.is_available %}
                <h3>Available</h3>
                {% else %}
                <h3>Not Available</h3>
                {% endif %}
                <br>
                <a href="{% url 'tuition_details' d.id %}" class="btn btn-primary w-100">Details</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}
